CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_STACKTRACE=y
CONFIG_BTRFS_ASSERT=y
CONFIG_BTRFS_FS_RUN_SANITY_TESTS=y
CONFIG_FAULT_INJECTION=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_FAIL_MAKE_REQUEST=y
CONFIG_DM_FLAKEY=m
CONFIG_DM_THIN_PROVISIONING=m
CONFIG_DM_SNAPSHOT=m
CONFIG_DM_ERROR=m
CONFIG_DM_DELAY=m
CONFIG_DM_LOG_WRITES=m
CONFIG_BLK_DEV_LOOP=m
CONFIG_EXT4_FS=m
CONFIG_SCSI_DEBUG=m
CONFIG_NUMA=y
